.ant-card-body {
  padding: 0;
  .ant-table-pagination.ant-pagination {
    margin: 16px 24px;
  }
  .product_img {
    max-width: 80px;
    max-height: 80px;
  }
}
.prod_button {
  font-size: 16px;
  padding: 4px 0;
}
.search_name {
  width: 15%;
}
.search_input {
  width: 20%;
  margin: 0 10px;
}
.prod_form {
  padding: 24px 0 0 24px;
  height: 100%;
  .ant-form-item-label > label {
    font-size: 16px;
    font-weight: 900;
  }
  .submit-form {
    text-align: center;
    button {
      margin: 0 10px;
    }
  }
}
.detail_card {
  height: 100%;
  overflow-y: auto;

  .detail_list {
    height: 100%;
    .ant-list-item {
      align-items: center;
      justify-content: flex-start;
      h1 {
        font-size: 16px;
        font-weight: 900;
        margin-bottom: 0;
        margin-left: 40px;
      }
      span {
        font-size: 16px;
      }
      .detail_img {
        max-width: 200px;
      }
    }
  }
}
.add_product {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
.editor-wrapper {
  border: 1px solid #cecece;
  .bf-content {
    max-height: 300px;
  }
}
